@{
    ViewData["Title"] = "Home Page";

    <div class="navbarCustom">
        <button type="button"> Sign Up </button>
    </div>
    <div class="content">
        <span class="welcomeTo">Welcome to the </span>
        <h1>Fitness Tracker</h1>
    </div>
}

